{% extends "base.html" %}

{% block main %}
    <h1>Adhésion</h1>
    <p>Le montant de l’adhésion comprend la licence F.F.E. 2025 – 2026 :</p>
    <ul class="list-group">
        <li class="list-group-item">Initiation jeunes et adultes débutants 1ère année : <strong>225 €</strong></li>
        <li class="list-group-item">Scolaires : <strong>235 €</strong></li>
        <li class="list-group-item">Étudiants université ou grandes écoles : <strong>235 €</strong></li>
        <li class="list-group-item">Autres adultes : <strong>255 €</strong></li>
    </ul>
{% endblock %}