{% extends "base.html" %}

{% block main %}
    <h1>Adresse</h1>
    <p>Les activités du cercle ont lieu au gymnase Cabochon:</p>
    <p><strong>20 rue Guynemer à Blois</strong>, près du rond-point Médicis, prendre la rue de Cabochon puis la  2ème rue à gauche après le restaurant Médicis.</p>
    <p>Bus ligne « C » arrêt Guynemer (Ecole Foch) direction Taille aux Moines.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1307.3598764478666!2d1.3136659444982435!3d47.58069152672286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e357e9b2016afd%3A0x29dd323445580dd1!2s20%20Rue%20Guynemer%2C%2041000%20Blois!5e0!3m2!1sfr!2sfr!4v1760967236153!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}