{%extends "base.html"%}
{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adhesion.css') }}">
{% endblock %}
    {%block main%}
        <!-- Section des compétitions à venir (pleine largeur) -->
        <div class="container py-5">
            <h2 class="text-center mb-5">Listes des prochaines compétitions</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for uneCompetition in competitions %}
                    {% if uneCompetition.passee == false%}
                    <div class="col">
                        <div class="card pricing-card h-100">
                            <div class="card-header pricing-header basic-header p-4">
                                <h3 class="card-title text-center mb-0"> {{uneCompetition.nom}} <br> {{uneCompetition.ville}}</h3>
                            </div>
                            <div class="card-body p-4 d-flex flex-column">
                                <h4 class="card-title text-center mb-4 h5">{{uneCompetition.niveaux}}</h4>
                                <ul class="feature-list text-center mb-4">
                                    <li>{{uneCompetition.date_debut}} - {{uneCompetition.date_fin}}</li>
                                    <li>{{uneCompetition.type_arme}}</li>
                                    <li>{{uneCompetition.typeComp}}</li>
                                    <li>Participants du cercle : {{ uneCompetition.evenement.participants.count() }}</li>
                                </ul>
                                <div class="text-center mt-auto">
                                    <a href="{{ url_for('competition_view', idCompetition=uneCompetition.id) }}" class="btn btn-outline-primary btn-custom">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <section class="competitions-section">
            <div class="container-fluid py-5">
                <div class="row">
                    <!-- Colonne pour les filtres (à gauche) -->
                    <aside class="col-lg-2 col-md-2">
                        <div class="filtres-box">
                            <h5>Filtrer par</h5>
                            <h6>Sexe</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="homme" checked>
                                <label class="form-check-label" for="homme">Homme</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="femme" checked>
                                <label class="form-check-label" for="femme">Femme</label>
                            </div>
                            <h6>Type d'arme</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="sabre" checked>
                                <label class="form-check-label" for="sabre">Sabre</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fleuret" checked>
                                <label class="form-check-label" for="fleuret">Fleuret</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="epee" checked>
                                <label class="form-check-label" for="epee">Épée</label>
                            </div>
                            <h6>Type de compétition</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="regional" checked>
                                <label class="form-check-label" for="regional">Régional</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="national" checked>
                                <label class="form-check-label" for="national">National</label>
                            </div>
                            <h6>Niveau</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="M9" checked>
                                <label class="form-check-label" for="M9">M9</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="M11" checked>
                                <label class="form-check-label" for="M11">M11</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="M13" checked>
                                <label class="form-check-label" for="M13">M13</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="M15" checked>
                                <label class="form-check-label" for="M15">M15</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="M17" checked>
                                <label class="form-check-label" for="M17">M17</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="M20" checked>
                                <label class="form-check-label" for="M20">M20</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Senior" checked>
                                <label class="form-check-label" for="Senior">Senior</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="Veterans" checked>
                                <label class="form-check-label" for="Veterans">Veterans</label>
                            </div>
                        </div>
                    </aside>
                    <!-- Colonne pour les compétitions passées -->
                    <div class="col-lg-10 col-md-6">
                        <h2 class="text-center mb-5">Listes des compétitions passées</h2>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                            {% for uneCompetition in competitions %}
                                {% if uneCompetition.passee == true %}
                                <div class="col">
                                    <div class="card pricing-card h-100">
                                        <div class="card-header pricing-header basic-header p-4">
                                            <h3 class="card-title text-center mb-0">{{uneCompetition.nom}} <br> {{uneCompetition.ville}}</h3>
                                        </div>
                                        <div class="card-body p-4 d-flex flex-column">
                                            <h4 class="card-title text-center mb-4 h5">{{uneCompetition.niveaux}}</h4>
                                            <ul class="feature-list text-center mb-4">
                                                <li>{{uneCompetition.date_debut}} - {{uneCompetition.date_fin}}</li>
                                                <li>{{uneCompetition.type_arme}}</li>
                                                <li>{{uneCompetition.typeComp}}</li>
                                                <li>Participants du cercle : {{ uneCompetition.evenement.participants.count() }}</li>
                                            </ul>
                                            <div class="text-center mt-auto">
                                                <a href="{{ url_for('competition_view', idCompetition=uneCompetition.id) }}" class="btn btn-outline-primary btn-custom">Consulter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}