{%extends "base.html"%}
{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adhesion.css') }}">
{% endblock %}
    {%block main%}
        <div class="container py-5">
            <h2 class="text-center mb-5">Listes des prochaines compétitions</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!--Cartes-->
                <!--faire une boucle-->
                <div class="col">
                    <div class="card pricing-card h-100">
                        <div class="card-header pricing-header basic-header p-4">
                            <h3 class="card-title text-center mb-0">Duc De guise Mer</h3>
                        </div>
                        <div class="card-body p-4">
                            <h2 class="card-title text-center mb-4 h4">Tous niveaux</h2>
                            <ul class="feature-list text-center mb-4">
                                <li>18/10/2025 - 19/10/2025</li>
                                <li>fleuret,épée</li>
                                <li>Régionnal</li>
                                <li>nombres de participants appartenant au cercle : 15</li>

                            </ul>
                            <div class="text-center">
                                <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Choisir</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Carte-->
                <div class="col">
                    <div class="card pricing-card h-100">
                        <div class="card-header pricing-header basic-header p-4">
                            <h3 class="card-title text-center mb-0">Beauce Sabré Charsonville</h3>
                        </div>
                        <div class="card-body p-4">
                            <h2 class="card-title text-center mb-4 h4">Homme-Femme Senior</h2>
                            <ul class="feature-list text-center mb-4">
                                <li>25/10/2025 - 26/10/2025</li>
                                <li>sabre</li>
                                <li>Régionnal</li>
                                <li>nombres de participants appartenant au cercle : 3</li>

                            </ul>
                            <div class="text-center">
                                <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Choisir</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card pricing-card h-100">
                        <div class="card-header pricing-header basic-header p-4">
                            <h3 class="card-title text-center mb-0">Championnat du Loiret Montargis</h3>
                        </div>
                        <div class="card-body p-4">
                            <h2 class="card-title text-center mb-4 h4">Homme-Femme Vétérans</h2>
                            <ul class="feature-list text-center mb-4">
                                <li>01/11/2025 - 02/10/2025</li>
                                <li>fleuret</li>
                                <li>Régionnal</li>
                                <li>nombres de participants appartenant au cercle : 8</li>

                            </ul>
                            <div class="text-center">
                                <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Choisir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<section class="competitions-section">
    <div class="container-fluid py-5">
        <h1 class="text-center mb-5">Listes des compétitions passées</h1>
        
        <div class="row">
            <!-- Aside filtres à gauche -->
            <aside class="col-lg-3 col-md-4 mb-4">
                <div class="filtres-box">
                    <h5>Filtrer par</h5>
                    <h6>Type d'arme</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="sabre" checked>
                        <label class="form-check-label" for="sabre">Sabre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="fleuret" checked>
                        <label class="form-check-label" for="fleuret">Fleuret</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="epee" checked>
                        <label class="form-check-label" for="epee">Épée</label>
                    </div>
                    <h6>Type de compétition</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="regional" checked>
                        <label class="form-check-label" for="regional">Régional</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="national" checked>
                        <label class="form-check-label" for="national">National</label>
                    </div>
                    <h6>Niveau</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="M9" checked>
                        <label class="form-check-label" for="M9">M9</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="M11" checked>
                        <label class="form-check-label" for="M11">M11</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="M13" checked>
                        <label class="form-check-label" for="M13">M13</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="M15" checked>
                        <label class="form-check-label" for="M15">M15</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="M17" checked>
                        <label class="form-check-label" for="M17">M17</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="M20" checked>
                        <label class="form-check-label" for="M20">M20</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="senior" checked>
                        <label class="form-check-label" for="senior">Sénior</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="veteran" checked>
                        <label class="form-check-label" for="veteran">Vétéran</label>
                    </div>
                </div>
            </aside>

            <!-- Cartes compétitions passées à droite -->
            <div class="col-lg-9 col-md-8">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card pricing-card h-100">
                            <div class="card-header pricing-header basic-header p-4">
                                <h3 class="card-title text-center mb-0">Tournoi club Blois</h3>
                            </div>
                            <div class="card-body p-4">
                                <h2 class="card-title text-center mb-4 h4">Tous niveaux</h2>
                                <ul class="feature-list text-center mb-4">
                                    <li>01/10/2025 - 02/10/2025</li>
                                    <li>sabre laser</li>
                                    <li>Nationnal</li>
                                    <li>nombres de participants appartenant au cercle : 35</li>
                                </ul>
                                <div class="text-center">
                                    <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Choisir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card pricing-card h-100">
                            <div class="card-header pricing-header basic-header p-4">
                                <h3 class="card-title text-center mb-0">Duc de guise Dreux</h3>
                            </div>
                            <div class="card-body p-4">
                                <h2 class="card-title text-center mb-4 h4">Homme-Femme Senior</h2>
                                <ul class="feature-list text-center mb-4">
                                    <li>05/10/2023 - 06/10/2023</li>
                                    <li>épée</li>
                                    <li>Nationnal</li>
                                    <li>nombres de participants appartenant au cercle : 4</li>
                                </ul>
                                <div class="text-center">
                                    <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Choisir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card pricing-card h-100">
                            <div class="card-header pricing-header basic-header p-4">
                                <h3 class="card-title text-center mb-0">Championnat du Sabre Melin</h3>
                            </div>
                            <div class="card-body p-4">
                                <h2 class="card-title text-center mb-4 h4">Homme-Femme Vétérans</h2>
                                <ul class="feature-list text-center mb-4">
                                    <li>06/01/2025 - 07/01/2025</li>
                                    <li>sabre</li>
                                    <li>Nationnal</li>
                                    <li>nombres de participants appartenant au cercle : 7</li>
                                </ul>
                                <div class="text-center">
                                    <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Choisir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}