{%extends "base.html"%}
    {% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adhesion.css') }}">
    {% endblock %}
    {%block main%}
        <div class="container py-5">
            <h2 class="text-center mb-5">Listes des prochains évènements du cercle</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for unEventClub in eventsclub %}
                    {% if unEventClub.passeeEV == false%}
                    <div class="col">
                        <div class="card pricing-card h-100">
                            <div class="card-header pricing-header basic-header p-4">
                                <h3 class="card-title text-center mb-0"> {{unEventClub.NomEV}} {{unEventClub.villeEV}}</h3>
                            </div>
                            <div class="card-body p-4 d-flex flex-column">
                                <ul class="feature-list text-center mb-4">
                                    <li>{{unEventClub.dateDebutEV}} - {{unEventClub.dateFinEV}}</li>
                                    <li>{{unEventClub.heureDebutEV}} à {{unEventClub.heureFinEV}}</li>
                                    <li> de {{unEventClub.adresseEV}}</li>
                                    <li>Participants du cercle : {{unEventClub.evenement.participants.count()}}</li>
                                </ul>
                                <div class="text-center mt-auto">
                                    <a href="{{ url_for('club_view', idEventClub=unEventClub.idEventClub) }}" class="btn btn-outline-primary btn-custom">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
                
        <div class="container py-5">
            <h2 class="text-center mb-5">Listes des évènements passés du cercle</h2>
            <!--Filtres ordre-->
            <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">Filtrer par</button>
                    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                        <li><a class="dropdown-item" href="#">Date (Plus récent)</a></li>
                        <li><a class="dropdown-item" href="#">Date (Plus ancien)</a></li>
                    </ul>
            </div>
            <!--Fin Filtres ordre-->
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for unEventClub in eventsclub %}
                    {% if unEventClub.passeeEV == true%}
                    <div class="col">
                        <div class="card pricing-card h-100">
                            <div class="card-header pricing-header basic-header p-4">
                                <h3 class="card-title text-center mb-0"> {{unEventClub.NomEV}} {{unEventClub.villeEV}}</h3>
                            </div>
                            <div class="card-body p-4 d-flex flex-column">
                                <ul class="feature-list text-center mb-4">
                                    <li>{{unEventClub.dateDebutEV}} - {{unEventClub.dateFinEV}}</li>
                                    <li>{{unEventClub.heureDebutEV}} à {{unEventClub.heureFinEV}}</li>
                                    <li> de {{unEventClub.adresseEV}}</li>
                                    <li>Participants du cercle : {{unEventClub.evenement.participants.count()}}</li>
                                </ul>
                                <div class="text-center mt-auto">
                                    <a href="{{ url_for('club_view', idEventClub=unEventClub.idEventClub) }}" class="btn btn-outline-primary btn-custom">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}   
        