{%extends "base.html"%}

{%block main%}
    <h1> Mettre les formulaires</h1>
    <p> Type de formulaire : </p>
    <p> Sujet : </p>
    <p> Mail envoyeur : </p>
    <p> Description : </p>

    <div class="mb-3">
        <textarea class="form-control" rows="5" placeholder="Entrez votre réponse" required></textarea>
    </div>
    <a href="" class="btn btn-success">Envoyer la réponse <i class="fas fa-pen"></i></a>
    <a href="" class="btn btn-danger">Supprimer <i class="fas fa-pen"></i></a>
{% endblock %}