<!doctype html>
    {%extends "base.html"%}       
    {%block main%}
            <h1  class="display-4 text-center">HISTORIQUE</h1>
            <img src="../static/images/Logo.png/"  class = "d-block mx-auto mb-4">


            <div class="container">
<div class="main-timeline">

                        <!-- start 1883 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">1883</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Apparition de l'escrime à Blois</h5>
                                <p class="description">
                                    La pratique structurée de l´Escrime à Blois se dèveloppe au sein de « la Société de Gymnastique et d´Escrime La Blésoise pendant le 19ème siècle. 
                                </p>
                            </div>
                        </div>
                        <!-- end 1883 section-->

                        <!-- start 1911 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">18 janvier</span>
                                    <span class="year">1911</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Reprise par "la Société des Sports et d’Escrime de Loir et Cher" </h5>
                                <p class="description">
                                        À dater du <strong>janvier 1911</strong>, c’est « la Société des Sports et d’Escrime de Loir et Cher » qui prend le relai sous la présidence du Dr Paterne. Au milieu du 20ème siècle, le <strong>novembre 1951</strong> , l’escrime blésoise renaît sous son identité actuelle, le « Cercle d´Escrime de Blois », présidé alors par M. René-Jean Congard. Lui succèdent ensuite le Dr Muller en  et P. Cartier en <strong>1960 </strong>. C’est dans la salle d´Armes, rue du Lion Ferré, qu’officie le maître Marcel Gerbaud jusqu’en <strong>1964</strong> . </p>                               
                            </div>
                        </div>
                        <!-- end 1911 section-->

                        <!-- start 1969 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">1969</span>
                                        <span class="month">2 ans</span>    
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Reprise des activités</h5>
                                <p class="description">
                                        Sous l’impulsion du président Philibert Martinot assisté de Pierre Weber les activités reprennent en <strong>1969</strong>.</p>
                            </div>
                        </div>
                        <!-- end 1969 section-->

                        <!-- start 1971 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">1971-</span>
                                    <span class="year">1975</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Le cercle et le palais des sports</h5>
                                <p class="description">
                                En <strong>1971</strong> le Cercle est hébergé dans les locaux du Palais des Sports de l’Abeille des Aides où il reprend vigueur sous la conduite du maître Claude Ruby, auquel succède Régis Eche en <strong>1975</strong> .</p>
                            </div>
                        </div>
                        <!-- end 1971 section-->
                        
                        <!-- start 1983 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">1983</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Retrait du président Philibert Martinot</h5>
                                <p class="description">
                                        Au retrait du président Philibert Martinot en <strong>1983</strong>, c’est Pierre Havard qui reprend le flambeau</p>
                                </div>
                        </div>
                        <!-- end 1983 section-->
                        
                        <!-- start 1990 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">1990</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Changement de salle</h5>
                                <p class="description">
                                        En <strong>1990</strong>, le Cercle s’installe dans le gymnase de Cabochon.</div>
                            </div>
                        <!-- end 1990 section-->

                        <!-- start 1999 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">1999-</span>
                                    <span class="year">2016</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">La destinée du Cercle</h5>
                                <p class="description">
                                        En <strong>1999</strong> Régis Eche prend la destinée du Cercle, il passe la main à Christophe Léchopier en novembre <strong>2016</strong></p>
                            </div>
                        </div>        
                        <!-- end 1999 section-->

                           <!-- start 2018 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">décembre</span>
                                    <span class="year">2018</span>

                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Coprésidence</h5>
                                <p class="description">
                                        En décembre <strong>2018</strong>, il est décidé une coprésidence avec Régis Eche et Christophe Léchopier.</p>
                           </div>
                        </div>
                        <!-- end 2018 section-->

                        <!-- start 2024 section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">10 décembre</span>
                                    <span class="year">2024</span>

                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Régis Eche élu président du cercle</h5>
                                <p class="description">
                                        Le <strong>10 décembre 2024</strong>, Christophe Léchopier se retire de son poste, Régis Eche est élu à la présidence du Cercle.</p>

                           </div>
                        </div>
                        <!-- end 2018 section-->
                </div>
        </div>
    {% endblock %}

    