<!doctype html>
    {%extends "base.html"%}

    {%block main%}
    <header>
        <div class="header-content">
            <h2 class="h2acc">L'escrime à Blois... depuis 1883</h2>
            <div class="lineH"></div>
            <h1 class="h1acc"> Entrez dans notre histoire </h1>
            <br>
            <a href="/historique/" class="ctn"> Voir notre histoire </a>
        </div>
    </header>

    
    <section class = "explore">
        <div class="explore-content">
            <h1>C'était la Fête du Sport à Blois… </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque quaerat consequuntur, aliquam doloribus quod autem consequatur, in totam repellat, qui doloremque incidunt neque accusantium porro possimus nisi perferendis iusto?</p>
        </div>
        <div class="explore-col">
            <video controls="" src="../static/video/Fete-du-Sport-Blois-2025-2.mp4"></video>
        </div>
    </section>

    <section>
        <div class= "title">
            <h1> Les derniers articles </h1>
            <div class = "line"></div>
        </div>
        <div class="row">
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card pricing-card h-100">
                <div class="card-header pricing-header basic-header p-4">
                    <h3 class="card-title text-center mb-0">Article 1</h3>
                </div>
                <div class="card-body p-4">
                    <ul class="feature-list text-center mb-4">
                        <li>Critérium Départemental Épée mixte Blois </li>
                        <li>21/06/2025</li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-primary btn-custom">Consulter</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card pricing-card h-100">
                <div class="card-header pricing-header basic-header p-4">
                    <h3 class="card-title text-center mb-0">Article 2</h3>
                </div>
                <div class="card-body p-4">
                    <ul class="feature-list text-center mb-4">
                        <li>Championnat de France Épée Vétérans Castelnau le Lez 14- </li>
                        <li>15/06/2025</li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-primary btn-custom">Consulter</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card pricing-card h-100">
                <div class="card-header pricing-header basic-header p-4">
                    <h3 class="card-title text-center mb-0">Article 3</h3>
                </div>
                <div class="card-body p-4">
                    <ul class="feature-list text-center mb-4">
                        <li>Championnat de France Épée seniors . Colmar 3-</li>
                        <li>04/06/2025</li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-primary btn-custom">Consulter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="col">
                <img src="" alt="">
                <a href="/article/" class="btn btn-article">Voir les articles récents</a>
            </div>
        </div>
    </section>
        <section>
        <div class= "title">
            <h1>Les dernières compétitions</h1>
            <div class = "line"></div>
        </div>
        <div class="row">
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
            <div class="card pricing-card h-100">
                <div class="card-header pricing-header basic-header p-4">
                    <h3 class="card-title text-center mb-0">Competition 1</h3>
                </div>
                <div class="card-body p-4">
                    <ul class="feature-list text-center mb-4">
                        <li>Tournois de France à Blois !</li>
                        <li>21/06/2025</li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-primary btn-custom">Consulter</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card pricing-card h-100">
                <div class="card-header pricing-header basic-header p-4">
                    <h3 class="card-title text-center mb-0">Competition 2</h3>
                </div>
                <div class="card-body p-4">
                    <ul class="feature-list text-center mb-4">
                        <li>Championnat de France Épée Vétérans Castelnau </li>
                        <li>15/06/2025</li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-primary btn-custom">Consulter</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card pricing-card h-100">
                <div class="card-header pricing-header basic-header p-4">
                    <h3 class="card-title text-center mb-0">Competition 3</h3>
                </div>
                <div class="card-body p-4">
                    <ul class="feature-list text-center mb-4">
                        <li>Championnat de France Épée seniors</li>
                        <li>04/06/2025</li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-outline-primary btn-custom">Consulter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="col">
                <img src="" alt="">
                <a href="/article/" class="btn btn-article">Voir les competitions récentes</a>
            </div>
        </div>
    </section>

    {% endblock %}
