{% extends "base.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inscription.css') }}">
{% endblock %}

{% block main %}
<div class="page-login">
    <div class="inscription-container">
        <div class="titre-inscription">
            <h1>Inscription</h1>
        </div>
        
        <form method="POST" action="" style="width: 100%;">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.Login(class="form-input", placeholder="Rentrer votre email") }}
            </div>
            <div class="form-group">
                {{ form.nom(class="form-input", placeholder="Rentrer votre nom") }}
            </div>
            <div class="form-group">
                {{ form.prenom(class="form-input", placeholder="Rentrer votre prenom") }}
            </div>
            <div class="form-group">
                {{ form.date_naissance(
                    class="form-input", 
                    type="text", 
                    placeholder="Rentrer votre date de naissance", 
                    onfocus="(this.type='date')", 
                    onblur="(if(!this.value) this.type='text')"
                ) }}
            </div>
            <div class="form-group">
                {{ form.sexe(class="form-input form-select form-select-white-arrow", placeholder="Choisir votre sexe") }}
            </div>
            <div class="form-group">
                {{ form.password(class="form-input", placeholder="Rentrer votre mot de passe") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password(class="form-input", placeholder="Confirmer votre mot de passe") }}
            </div>
            
            <div class="form-group">
                <div class="form-check text-white">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                    <label class="form-check-label" for="flexCheckDefault">
                        J'accepte les 
                        <a href="#" class="link-light" data-bs-toggle="modal" data-bs-target="#conditionModal">
                            conditions d'inscription
                        </a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                {{ form.inscription(class="btn-connecter", value="S'INSCRIRE") }}
            </div>
            
        </form>
    </div>
</div>

<!-- Modale des Conditions d'inscription -->
<div class="modal fade" id="conditionModal" tabindex="-1" aria-labelledby="conditionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="conditionModalLabel">Conditions d'Inscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>titre</strong></p>
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}