{% extends "base.html" %}
{% block main %}
<div class="page-login">
    <div class="login-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo Cercle d'Escrime">
        </div>
        
        <form method="POST" action="" style="width: 100%;">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.email(class="form-input" + (" is-invalid" if form.email.errors else ""), placeholder="EMAIL") }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.password(class="form-input" + (" is-invalid" if form.password.errors else ""), placeholder="MOT DE PASSE") }}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.connecter(class="btn-connecter", value="SE CONNECTER") }}
            </div>
        </form>
        <a href="{{ url_for('inscription') }}" class="btn-inscription">S'INSCRIRE</a>
    </div>
</div>
{% endblock %}