{%extends "base.html"%}

    {%block main%}


        <h1 class="titreparametre"> <strong> Parametres</strong> </h1>
        <div class="lineP"></div>

        <div class="parametres-container">

        <div class="mode-sombre">
            <label>Mode sombre :</label>
            <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider"></span>
            </label>
        </div>


        <div class="user-icon">
            <img src="../static/images/parametres/pngegg.png" alt="logo user">
        </div>

    

        <form method="POST" class="parametres-form">
            
            <div class="form-row-par">
                <label>Modifier votre Nom :</label>
                {{ form.nom(class="form-input-param") }}
            </div>

            <div class="form-row-par">
                <label>Modifier le Prenom :</label>
                {{ form.prenom(class="form-input-param") }}
            </div>

            <div class="form-row-par">
                <label>Modifier son age :</label>
                {{ form.age(class="form-input-param") }}
            </div>

            <div class="form-row-par">
                <label>Modifier sa date :</label>
                {{ form.date(class="form-input-param") }}
            </div>            

            <div class="form-row-par">
                <label>Modifier sa catégorie :</label>
                {{ form.categorie(class="form-input-param") }}
            </div>

            <div class="form-row-par">
                <label>Modifier l'Email :</label>
                {{ form.email(class="form-input-param") }}
            </div>
            

            <div class="form-row-par">
                <label>Nouveau mot de passe :</label>
                {{ form.password(class="form-input-param") }}
            </div>

            <div class="form-submit">
                <button type="submit" class="btn-envoyer">Envoyer la requête</button>
                <a href="/notifications/"><button type="button" class="btn-notif">Aller aux parametres de notifications </button></a>
            </div>
        </form>
    </div>
</div>


{% endblock %}

