{% extends "base.html" %}

{% block main %}
<div class="container py-5">
    <h1 class="text-center mb-5">Modifier le profil de {{ selectedMembre.prenom }} {{ selectedMembre.nom }}</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm p-4">
                <form method="POST" action="{{ url_for('profil_edit', idM=selectedMembre.id, origine = origine) }}">
                    {{ updateForm.hidden_tag () }}
                    <div class="mb-3 row">
        
                        <label for="nom" class="col-sm-4 col-form-label text-muted">Nom :</label>
                        <div class="col-sm-8">
                            {{updateForm.nom(size =50, class_="form-control")}}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="prenom" class="col-sm-4 col-form-label text-muted">Prénom :</label>
                        <div class="col-sm-8">
                            {{updateForm.prenom(size =50, class_="form-control")}}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="age" class="col-sm-4 col-form-label text-muted">Âge :</label>
                        <div class="col-sm-8">
                            <label for="age" class="col-sm-6 col-form-label">{{ selectedMembre.age }}</label>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="date_naissance" class="col-sm-4 col-form-label text-muted">Date de naissance :</label>
                        <div class="col-sm-8">
                            {{updateForm.ddn(type="date", size =50, class_="form-control")}}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="sexe" class="col-sm-4 col-form-label text-muted">Sexe :</label>
                        <div class="col-sm-8">
                            {{ updateForm.sexe(class_="form-control") }}
                        </div>
                    </div>


                    <!-- Seul un admin peut changer ce champ-->
                    <!-- Changé automatiquement avec un trigger-->
                    <div class="mb-3 row">
                        <label for="categorie" class="col-sm-4 col-form-label text-muted">Niveau :</label>
                        <div class="col-sm-8">
                            <label for="categorie" class="col-sm-4 col-form-label">{{selectedMembre.niveau}}</label>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="email" class="col-sm-4 col-form-label text-muted">Email :</label>
                        <div class="col-sm-8">
                            {{updateForm.email(size =50, class_="form-control")}}
                        </div>
                    </div>


                    <!-- Seul un admin peut changer ce champ-->
                    <div class="mb-3 row">
                        <label for="statut" class="col-sm-4 col-form-label text-muted">Statut :</label>
                        {% if current_user.is_authenticated and session.get('user_type') == 'admin' %}
                        <div class="col-sm-8">
                            {{updateForm.statut(class_="form-control")}}
                        </div>
                        {% endif %}
                        {% if current_user.is_authenticated and session.get('user_type') == 'membre' %}
                        <div class="col-sm-8">
                            {{selectedMembre.statut}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Décrivez la raison de la modification" required></textarea>
                    </div>

                    <div class="text-center mt-4">
                        <!-- Pour Admin -->
                        {% if current_user.is_authenticated and session.get('user_type') == 'admin' %}
                        <input class ="btn btn-success" type="submit" value ="Enregistrer les modifications">
                        {% endif %}
                        <!-- Pour Membre -->
                        {% if current_user.is_authenticated and session.get('user_type') == 'membre' %}
                        <button type="submit" class="btn btn-success">Valider la demande de modifications</button>
                        {% endif %}
                        <a href="{{ url_for('profil_view', idM=selectedMembre.id, origine=origine) }}" class="btn btn-secondary">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
