{%extends "base.html"%}
    {% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adhesion.css') }}">
    {% endblock %}
    {%block main%}
            <div class="container py-5">
                <h2 class="text-center mb-5">Listes de vos résultats</h2>
                <div class="d-flex gap-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="sabre4" id="type-sabre4" checked>
                        <label class="form-check-label" for="type-sabre4">sabre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="fleuret4" id="type-fleuret4" checked>
                        <label class="form-check-label" for="type-fleuret4">fleuret</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="epee4" id="type-epee4" checked>
                        <label class="form-check-label" for="type-epee4">épée</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="regional4" id="type-regional4" checked>
                        <label class="form-check-label" for="type-regional4">régional</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="national4" id="type-national4" checked>
                        <label class="form-check-label" for="type-national4">national</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="M94" id="type-M94" checked>
                        <label class="form-check-label" for="type-M94">M9</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="M114" id="type-M114" checked>
                        <label class="form-check-label" for="type-M114">M11</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="M134" id="type-M134" checked>
                        <label class="form-check-label" for="type-M134">M13</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="M154" id="type-M154" checked>
                        <label class="form-check-label" for="type-M154">M15</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="M174" id="type-M174" checked>
                        <label class="form-check-label" for="type-M174">M17</label>
                    </div><div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="M204" id="type-M204" checked>
                        <label class="form-check-label" for="type-M204">M20</label>
                    </div><div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="senior4" id="type-senior4" checked>
                        <label class="form-check-label" for="type-senior4">sénior</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type" value="veteran4" id="type-veteran4" checked>
                        <label class="form-check-label" for="type-veteran4">vétéran</label>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">Filtrer par</button>
                    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                        <li><a class="dropdown-item" href="#">Date (Plus récent)</a></li>
                        <li><a class="dropdown-item" href="#">Date (Plus ancien)</a></li>
                        <li><a class="dropdown-item" href="#">Classement (Meilleur)</a></li>
                    </ul>
                </div>
            </div>
        <div class="container py-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card pricing-card h-100">
                        <div class="card-header pricing-header basic-header p-4">
                            <h3 class="card-title text-center mb-0">Tournoi club Blois</h3>
                        </div>
                        <div class="card-body p-4">
                            <h2 class="card-title text-center mb-4">Tous niveaux</h2>
                            <ul class="feature-list text-center mb-4">
                                <li>01/10/2025 - 02/10/2025</li>
                                <li>sabre</li>
                                <li>Nationnal</li>
                                <li>Votre classement : </li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ url_for('competition_view') }}" class="btn btn-outline-primary btn-custom">Consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%endblock%}