/* Pour le calendrier */
.calendrier-wrapper {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden; 
    min-height: 'auto';
    padding: 15px; 
}

#calendrier-titre{
    color: #b82828;
}

.calendrier-section {
    padding: 40px 20px;
}

.calendrier-section h1 {
    color: #b82828;
    margin-bottom: 40px;
}

/* pour le mode clair par défaut du calendirer lorsque le mode sombre est désactivé */
.fc {
    color: #000;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-color: #ddd;
    background-color: white;
}

.fc-daygrid-day {
    background-color: white;
    color: #000;
}

.fc-col-header-cell {
    background-color: #f8f9fa;
    color: #000;
}

.fc-day-today {
    background-color: #fff3cd !important;
}

.fc-daygrid-day-number {
    color: #000;
    text-decoration: none; 
}


.custom-check-competition .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-check-reunion .form-check-input:checked {
    background-color: #ffc107;
    border-color: #ffc107;
}

.custom-check-evenement-du-club .form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}

.custom-check-entrainement .form-check-input:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}


/* Pour add_event*/
#level-field-container ul {
    list-style-type: none;
    padding-left: 0;
}

#level-field-container li {
    margin-bottom: 5px; 
}