#main{
    margin-top: 7em;
}



nav{
    background-color: #b82828;
}

nav .nav-link {
  color: white; /* Remplacez par le code couleur de votre choix */
  font-size: larger;
}

.navbar-brand img {
    height: 65px; 
    width: auto; 
}

/* Page connexion */

body {
    font-family: sans-serif; 
    min-height: 100vh;
    display: flex;
}

.page-login {
    background: #DE6A6A !important; /* le !important pour forcer la couleur. */ 
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px 65px;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    background: linear-gradient( rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.logo {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.logo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
    background: transparent;
    box-sizing: border-box;
}


.form-input::placeholder {
    color: #ffffff;
    letter-spacing: 1px;
}

.btn-connecter {
    width: 100%;
    padding: 15px;
    background: white;
    color: #DE6A6A;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);;
}

.btn-connecter:hover {
    background: #ef5350;
    color: white;
    box-shadow: 0 5px 15px rgba(239, 83, 80, 0.3);
}

