{% extends "base.html" %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inscription.css') }}">
{% endblock %}

{% block main %}
<div class="page-login">
    <div class="inscription-container">
        <div class="titre-inscription">
            <h1>Inscription</h1>
        </div>
        
        <form method="POST" action="" style="width: 100%;" onsubmit="return MailtoInscription()" id="formInscription" data-mail-actif="{{ 'true' if mail_inscription else 'false' }}">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.Login(
                    id="inputEmail",
                    class="form-input" + (" is-invalid" if form.Login.errors else ""),
                    placeholder="Rentrer votre email",
                    required=True
                    ) }}
                {% if form.Login.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.Login.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.nom(
                    id="inputNom",
                    class="form-input" + (" is-invalid" if form.nom.errors else ""),
                    placeholder="Rentrer votre nom",
                    required=True
                    ) }}
                {% if form.nom.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.nom.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.prenom(
                    id="inputPrenom",
                    class="form-input" + (" is-invalid" if form.prenom.errors else ""),
                    placeholder="Rentrer votre prenom",
                    required=True
                    ) }}
                {% if form.prenom.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.prenom.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.date_naissance(
                    class="form-input" + (" is-invalid" if form.date_naissance.errors else ""), 
                    type="text", 
                    placeholder="Rentrer votre date de naissance", 
                    onfocus="(this.type='date')", 
                    onblur="if(!this.value)this.type='text'",
                    required=True
                ) }}
                {% if form.date_naissance.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.date_naissance.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.sexe(
                    id="inputSexe",
                    class="form-input form-select form-select-white-arrow" + (" is-invalid" if form.sexe.errors else ""),
                    placeholder="Choisir votre sexe",
                    required=True
                    ) }}
                {% if form.sexe.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.sexe.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.numTel(
                    class="form-input" + (" is-invalid" if form.numTel.errors else ""), 
                    placeholder="Rentrer votre numéro de téléphone (optionnel)"
                ) }}
                {% if form.numTel.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.numTel.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password(
                    class="form-input" + (" is-invalid" if form.password.errors else ""), 
                    placeholder="Rentrer votre mot de passe",
                    required=True
                ) }}
                {% if form.password.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password(
                    class="form-input" + (" is-invalid" if form.confirm_password.errors else ""), 
                    placeholder="Confirmer votre mot de passe",
                    required=True
                ) }}
                {% if form.confirm_password.errors %}
                    <div class="invalid-feedback d-block text-white">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            {% if current_user.is_authenticated and session.get('user_type') == 'admin' %}
                <div class="form-group">
                    {{ form.inscription(class="btn-connecter", value="INSCRIRE LE MEMBRE") }}
                </div>
            {% else %}
                <div class="form-group">
                    <div class="form-check text-white">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label" for="flexCheckDefault">
                            J'accepte les <a href="#" data-bs-toggle="modal" data-bs-target="#modalConditions" class="text-white">conditions d'inscription</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.inscription(class="btn-connecter", value="S'INSCRIRE") }}
                </div>
            {% endif %}
        </form>
    </div>
</div>

<div class="modal fade" id="modalConditions" tabindex="-1" aria-labelledby="modalConditionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConditionsLabel">Conditions Générales d'inscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vous devez avoir plus de 8 ans</p>
                <p>Avant que votre demande soit acceptée, vous devez venir sur place afin de nous présenter vos documents d'identité et un certificat médical. Le règlement se fera également sur place.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% if message_erreur %}
    <div class="alert alert-danger">{{ message_erreur }}</div>
{% endif %}
{% if erreur_nom %}
    <div class="alert alert-danger">{{ erreur_nom }}</div>
{% endif %}
{% if erreur_email %}
    <div class="alert alert-danger">{{ erreur_email }}</div>
{% endif %}
<script src="{{ url_for('static', filename='js/mailto.js') }}"></script>
{% endblock %}
