{% extends "base.html" %}

{% block main %}
<div class="page-login">
    <div class="login-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo Cercle d'Escrime">
        </div>
        <form method="POST" action="" style="width: 100%;">
            
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {%if message == "desincrit" %}
                <div class="alert alert-danger" role="alert">Ce compte a été désinscrit, faites une demande via "Contact" pour plus d'informations</div>
            {%endif%}
            {%if message == "mdpIncorrect" %}
                <div class="alert alert-danger" role="alert">Ce mot de passe est incorrect</div>
            {%endif%}
            {%if message == "emailIncorrect" %}
                <div class="alert alert-danger" role="alert">Cet email n'est pas enregistré</div>
            {% endif %}
            
            <div class="form-group">
                {{ form.email(class="form-input" + (" is-invalid" if form.email.errors else ""), placeholder="EMAIL") }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.password(class="form-input" + (" is-invalid" if form.password.errors else ""), placeholder="MOT DE PASSE") }}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.connecter(class="btn-connecter", value="SE CONNECTER") }}
            </div>
        </form>
        <a href="{{ url_for('auth.inscription') }}" class="btn-inscription">S'INSCRIRE</a>
        <a href="{{ url_for('auth.mdp_oublier') }}" class="mdp-link">Mot de passe oublié ?</a>
    </div>
</div>
{% endblock %}