{% extends "base.html" %}
{% block body_class %}has-sidebar{% endblock %}
{% block main %}
<form method="post" class="container py-4">
    <h1 class="mb-4">
        <label for="nom" class="form-label">Nom de la réunion</label>
        <input type="text" class="form-control form-control-lg" id="nom" name="nom" value="{{ reunion.nom }}" required>
    </h1>
    <div class="mb-4">
        <label for="type_reunion" class="form-label">Type de réunion</label>
        <input type="text" class="form-control" id="type_reunion" name="type_reunion" value="{{ reunion.typeReunionRE }}" placeholder="Ex: Générale, Comité..." required>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <label for="date_debut" class="form-label">Date de début</label>
                    <input type="date" class="form-control" id="date_debut" name="date_debut" value="{{ reunion.dateDebutRE.strftime('%Y-%m-%d') }}" required>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <label for="heure_debut" class="form-label">Heure de début</label>
                    <input type="time" class="form-control" id="heure_debut" name="heure_debut" value="{{ reunion.heureDebutRE }}" required>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <label for="date_fin" class="form-label">Date de fin</label>
                    <input type="date" class="form-control" id="date_fin" name="date_fin" value="{{ reunion.dateFinRE.strftime('%Y-%m-%d') if reunion.dateFinRE else '' }}" required>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <label for="heure_fin" class="form-label">Heure de fin</label>
                    <input type="time" class="form-control" id="heure_fin" name="heure_fin" value="{{ reunion.heureFinRE if reunion.heureFinRE else '' }}" required>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="ville" class="form-label">Ville </label>
        <input type="text" class="form-control" id="ville" name="ville" value="{{ reunion.ville }}" required>
        <label for="adresse" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="ville" name="adresse" value="{{ reunion.adresse }}" required>
    </div>
        
    <h2>Description :</h2>
    <div class="mb-3">
        <label for="description" class="form-label visually-hidden">Description</label>
        <textarea name="description" id="description" class="form-control" rows="5" placeholder="Rapport de la réunion..." required>{{ reunion.rapportRE }}</textarea>
    </div>
    
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('reunions.reunion_view', idReunion=reunion.id) }}" class="btn btn-secondary">Annuler</a>
        <button type="submit" class="btn btn-primary ms-2">Sauvegarder les modifications</button>
    </div>
</form>
{% endblock %}